<div class="row">
  <div class="col-6">
    <app-dona [labels]="Labels1"
               title="Ventas"
              [data]="data1"
    >
    </app-dona>
    <app-dona [labels]="Labels2"
               title="Compras"
              [data]="data2"
    >
    </app-dona>
  </div>
  <div class="col-6">
    <app-dona [labels]="Labels3"
               title="Negocios"
              [data]="data3"
    >
    </app-dona>
    <app-dona [labels]="Labels4"
               title="Info"
              [data]="data4"
    >
    </app-dona>
  </div>
  
</div>